---
http_interactions:
- request:
    method: get
    uri: https://geoip.maxmind.com/geoip/v2.1/insights/172.217.170.78
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic <ENCODED AUTH HEADER>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.maxmind.com-insights+json; charset=UTF-8; version=2.1
    body:
      encoding: UTF-8
      string: '{"continent":{"code":"NA","geoname_id":6255149,"names":{"ja":"北アメリカ","pt-BR":"América
        do Norte","ru":"Северная Америка","zh-CN":"北美洲","de":"Nordamerika","en":"North
        America","es":"Norteamérica","fr":"Amérique du Nord"}},"country":{"confidence":99,"iso_code":"US","geoname_id":6252001,"names":{"ja":"アメリカ合衆国","pt-BR":"Estados
        Unidos","ru":"США","zh-CN":"美国","de":"USA","en":"United States","es":"Estados
        Unidos","fr":"États-Unis"}},"location":{"accuracy_radius":1000,"latitude":37.751,"longitude":-97.822,"time_zone":"America/Chicago"},"maxmind":{"queries_remaining":4719},"registered_country":{"iso_code":"US","geoname_id":6252001,"names":{"en":"United
        States","es":"Estados Unidos","fr":"États-Unis","ja":"アメリカ合衆国","pt-BR":"Estados
        Unidos","ru":"США","zh-CN":"美国","de":"USA"}},"traits":{"is_anonymous":true,"is_residential_proxy":true,"user_type":"hosting","autonomous_system_number":15169,"autonomous_system_organization":"GOOGLE","domain":"1e100.net","isp":"Google","organization":"Google","ip_address":"172.217.170.78","network":"172.217.170.0/24"}}'
  recorded_at: Thu, 25 Feb 2021 06:12:07 GMT
recorded_with: VCR 6.0.0
